@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
	background-color: #222831;
	font-family: 'Poppins', sans-serif;
}

.lists {
	background-color: #393e46;
}

.task {
	background-color: #484d55;
}

.cross {
	cursor: pointer !important;
}

.cross:hover {
	color: white !important;
}

.outline-off:focus {
	box-shadow: none !important;
}
